<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <% for(let secrets of usrSecret){%>

      <div class="container">
        <p class="h6"><%=secrets.username%></p>
        <div class="card bg-dark text-white mx-auto" style="max-width: 18rem;">
          <div class="card-body">
            <p class="card-text"><%= secrets.secret %></p>
          </div>
        </div>
      </div> 
    
    <%}%>

    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
